/spec/examples.txt
coverage/
*.gem
.config
lib/bundler/man
*.bundle
*.so
*.o
*.a
mkmf.log


/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/


# rspec failure tracking
.rspec_status

# Ignore bundler config.
/.bundle
/vendor/bundle/
/vendor/ruby/

# Ignore all log files and tempfiles.
/log/*
!/log/.keep
/tmp

# various artifacts
.project
.secret
.idea/
/spec/tmp/*